@page "/"
@using WeatherGen
@using System.Diagnostics
@inject Services.EPWService EPWService
@inject State State

@if (State.EPW == null)
{
    <h1>Load data</h1>
}
else
{
    <h1>City: @State.EPW.Location.City</h1>
}

<button @onclick="LoadEPWData">Load data</button>


@code{

    public async Task LoadEPWData()
    {
        var sw = new Stopwatch();
        sw.Start();
        State.EPW = await EPWService.GetEPW();
        sw.Stop();
        State.EPWLoaded = true;
        System.Console.WriteLine($"EPW fetching and loading time: {sw.Elapsed}");
    }
}
